In [ ]:
#working on csv file
#normal csv file
#csv file through github and using with their url
#working with tsv file 
#some function for csv file 

#difference in csv and tsv is, sepration in csv file is by',' but in tsv file is'->'

In [1]:
import pandas as pd

In [2]:
#normal csv file 
df=pd.read_csv("placement-dataset.csv")

In [5]:
#csv file from url (i have used github)
import requests
from io import StringIO
# Raw GitHub CSV URL (not the normal GitHub page link)
url = "https://raw.githubusercontent.com/MainakRepositor/Datasets/master/Air%20Quality/real_2016_air.csv"
# Add User-Agent header to avoid request blocking
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/66.0.3359.181 Safari/537.36"
}
# Fetch CSV file
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)
print(df.head())

      T    TM    Tm     SLP   H   VV    V    VM      PM 2.5
0  16.9  25.1   6.6  1021.3  65  1.1  2.0   7.6  284.795833
1  15.5  24.1   7.7  1021.0  71  1.1  3.5  11.1  219.720833
2  14.9  22.8   8.0  1018.4  73  1.1  5.9  13.0  182.187500
3  18.3  24.7  11.5  1018.1  85  0.5  1.1   7.6  154.037500
4  16.5  24.7  12.0  1017.4  82  0.6  8.0  13.0  223.208333

In [8]:
#working with tsv file , it is called tab separated value
df=pd.read_csv("movie_titles_metadata.tsv",sep='\t')
df.head()

,m0,10 things i hate about you,1999,6.90,62847,['comedy' 'romance']
0,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
1,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
2,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
3,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']
4,m5,the fifth element,1997,7.5,133756.0,['action' 'adventure' 'romance' 'sci-fi' 'thri...

In [15]:
#in above the 1st row has become a column name and if a dataseet doesnt contain column name so we have to assign it
df=pd.read_csv("movie_titles_metadata.tsv",sep='\t',names=['sno.','name','release_year','rating','votes','genres'])
df.head()

,sno.,name,release_year,rating,votes,genres
0,m0,10 things i hate about you,1999,6.9,62847.0,['comedy' 'romance']
1,m1,1492: conquest of paradise,1992,6.2,10421.0,['adventure' 'biography' 'drama' 'history']
2,m2,15 minutes,2001,6.1,25854.0,['action' 'crime' 'drama' 'thriller']
3,m3,2001: a space odyssey,1968,8.4,163227.0,['adventure' 'mystery' 'sci-fi']
4,m4,48 hrs.,1982,6.9,22289.0,['action' 'comedy' 'crime' 'drama' 'thriller']

In [19]:
#using usecols parameter to ue specific column for study 
pd.read_csv("weather.csv",usecols=['MinTemp','MaxTemp','Sunshine'])

     MinTemp  MaxTemp  Sunshine
0        8.0     24.3       6.3
1       14.0     26.9       9.7
2       13.7     23.4       3.3
3       13.3     15.5       9.1
4        7.6     16.1      10.6
..       ...      ...       ...
361      9.0     30.7      12.1
362      7.1     28.4      12.7
363     12.5     19.9       5.3
364     12.5     26.9       7.1
365     12.3     30.2      12.6

[366 rows x 3 columns]

In [21]:
#using only first some 100 rows through nrows parameter and skiping specific rows through skiprows
pd.read_csv("weather.csv",nrows=100,skiprows=[1,5])

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,14.0,26.9,3.6,4.4,9.7,ENE,39,E,W,4,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
1,13.7,23.4,3.6,5.8,3.3,NW,85,N,NNE,6,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
2,13.3,15.5,39.8,7.2,9.1,NW,54,WNW,W,30,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
3,6.2,16.9,0.0,5.8,8.2,SE,44,SE,E,20,...,57,1023.8,1021.7,7,5,10.9,14.8,No,0.2,No
4,6.1,18.2,0.2,4.2,8.4,SE,43,SE,ESE,19,...,47,1024.6,1022.2,4,6,12.4,17.3,No,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,13.6,27.4,1.0,2.8,8.0,W,52,NW,WNW,6,...,41,1002.1,997.5,4,7,18.7,26.5,No,0.0,No
96,14.5,24.2,0.0,6.8,5.9,SSW,61,N,NNW,11,...,76,999.4,998.9,7,7,17.9,20.3,No,16.2,Yes
97,12.4,19.9,16.2,5.4,5.6,ENE,41,ESE,ESE,7,...,58,1007.6,1005.0,7,7,13.6,18.7,Yes,0.0,No
98,10.4,20.9,0.0,4.0,8.9,SSE,33,S,S,15,...,51,1007.7,1006.8,6,6,13.8,18.7,No,0.0,No
99,9.1,23.1,0.0,5.8,9.6,ENE,41,SSE,W,17,...,37,1013.6,1011.4,1,7,14.0,21.4,No,0.0,No

In [27]:
#encoding parameter....usually utf-8 is used for encoding but if it shows encoding isssue then first know what is encoding type of the file and then
#encode
pd.read_csv("weather.csv",encoding='latin-1')
#here encoding is latin-1 which is for utf-8

In [28]:
#skip bad lines

In [36]:
#dtype parameter , changing float column to integer column because sometime float column is not required and it aquire a lot of space
df=pd.read_csv("aug_test.csv",dtype={'city_development_index':int}).info()
#here error is occured because there could be data with Nan and something

In [38]:
#change date-time datatype from object to (data-time)

#converters , like if i have dataset for ipl teams and in ipl team there are full name of their team and i have to change the name
# from chennai super kings as csk so in that case converters are used
#   pd.read_csv('ipl.csv',converters={'team1':rename})
# and i will make a function called rename int which i will code as suitable

In [39]:
#replace like unknown as NaN values becausse it is neccessary to fill unknown as by dropna we can not simplly drop unknown 
#we can use -------           na_values=['unknown']

In [42]:
#loading dataset in chunks

#consist of 617 rows and 6 column now we will just break it into chunks  ,i have used tsv because i dont have large dataset right now 
df=pd.read_csv("movie_titles_metadata.tsv",sep='\t',names=['sno.','name','release_year','rating','votes','genres'],chunksize=200)
for chunk in df:
    print(chunk.shape)

(200, 6)
(200, 6)
(200, 6)
(17, 6)