In [1]:
# import pandas as pd
# import requests
# response=requests.get('url of api')

# pd.DataFrame(response.json()['results'])[['id','title','release_date','overveiw','popularity','vote_average','vote_count']]

In [ ]:
# #in that video it has 428 pages so by calling by only one it will only give one page so for 428 we call loop
# #this is for TMDB dataset of movie
# for i in range (1,429):
#     response=requests.get('url of api')
#     temp_df=pd.DataFrame(response.json()['results'])[['id','title','release_date','overveiw','popularity','vote_average','vote_count']]
#     df.append(temp_df,ignore_index=True)

By Above we can make dataframe using api

In [19]:
import requests
import pandas as pd

api_key = "2cbf34b5"
url = f"http://www.omdbapi.com/?s=Avengers&apikey={api_key}"

response = requests.get(url)
data = response.json()

# "Search" contains a list of movies
movies_list = data.get("Search", [])

df = pd.DataFrame(movies_list, columns=['Title', 'Year', 'imdbID', 'Type'])
print(df)

                                    Title       Year     imdbID    Type
0                            The Avengers       2012  tt0848228   movie
1                       Avengers: Endgame       2019  tt4154796   movie
2                  Avengers: Infinity War       2018  tt4154756   movie
3                 Avengers: Age of Ultron       2015  tt2395427   movie
4                            The Avengers       1998  tt0118661   movie
5  The Avengers: Earth's Mightiest Heroes  2010–2024  tt1626038  series
6            Ultimate Avengers: The Movie       2006  tt0491703   movie
7                            The Avengers  1961–1969  tt0054518  series
8                       Avengers Assemble  2012–2019  tt2455546  series
9                    Ultimate Avengers II       2006  tt0803093   movie